<?xml version="1.0"?>
<!--
/**
 * @author VIJAYAKUMAR S
 * @copyright Copyright (c) 2017
 * @package Learn_Placeorderexport
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <cloudflare_settings>
            <settings>
                <enable_cloudflare>0</enable_cloudflare>
            </settings>
        </cloudflare_settings>
    </default>
</config>
