<?xml version="1.0" ?>
<!--
/**
 * @author VIJAYAKUMAR S
 * @copyright Copyright (c) 2017
 * @package Learn_Cloudflare
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
	<module name="Learn_Cloudflare" setup_version="1.0.0" >
		<!-- DEPENDENCY 
		<sequence>
            <module name="Magento_Directory"/>
        </sequence>
    	-->
    </module>
</config>